<!-- {% extends 'index.html' %}

{% block content %}
<center>
    <h1 style="background-color: olive; color: white; border: 1PX solid black; margin-top: 15px; padding: 5px;" </h1> Detail Record Here!</h1>
        <div id="container">
            <div class="row col-md-4">
            <div id="divtags" name="divheads" class="col-mt-8">
                <br>
                <div class="col-md-6">
                    <label for="" class="form-label">Name</label>
                    <label>{{obj.name}}</label>
                  </div><br>
                  <div class="col-md-6">
                    <label for="text" class="form-label">Password</label>
                    <label>{{obj.password}}</label>
                  </div><br>
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Email</label>
                      <label>{{obj.email}}</label>
                    </div><br>
                    <div class="col-md-6">
                      <label for="inputAddress" class="form-label">Address</label>
                      <label>{{obj.address}}</label>
                    </div><br>
            </div>
            </div>
        </div>
       
    </center> 

{% endblock %} -->
